html {
  scroll-behavior: smooth;
}

.p__contenedor {
	width:75%;
	margin-top:4%;
}

i {
	color:$azul;
	margin-left:10px;
}

.fab {
	margin-left: 15px;
}

hr {
	width: 90%;
	margin-top:10%;
	margin-bottom:10%;
}

span {
	font-family:$lato;
	font-size:$medium;
	color:$azul;
	text-transform: uppercase;
}

@media only screen and (max-width:991px) {
	.col-12 {
		margin-left:0;
	}

}

