p {
	font-family:$lato;
	font-size:$small;
	line-height:1.5;
}

h1 {
	font-family:$lato;
	font-size:$xx-large;
	color:$azul;
	text-transform: uppercase;
	font-weight:$bold;
	margin-bottom:2%;
}

h3 {
	font-family:$lato;
	font-size:$large;
	color:$black;
	font-weight:$regular;
}

h2 {
	font-family:$lato;
	font-size:$large;
	color:$azul;
	font-weight:$bold;
	text-transform: uppercase;
	margin-bottom:2%;
}


