//Esquema de color //

$white:#fff;
$verde:#7cea9c;
$azul:#2d3047;
$negro:#071013;

//Tipografia //

$lato:'Lato', sans-serif;


//Pesos //
$light:300;
$regular:400;
$bold:900;

//Tamaños de fuentes //

$xx-large:60px;
$x-large:35px;
$large:25px;
$medium:18px;
$small:16px;