article {
	margin-top:3%;
}

article label {
	font-family:$lato;
	font-size:$small;
	margin-bottom:3%;
	margin-top:3%;
}

article input {
	width:60%;
}

.form-control {
    display: block;
    width: 74%;
}

textarea.form-control {
    margin-bottom: 21%;
    height: 201px;
}
